<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div id="wrapper">
        <h4>The current time and date:</h4>
        <div id="datetime">
            <h3>Taipei: {{date1}}  {{time1}}</h3>
            <h3>New York: {{date2}}  {{time2}}</h3>
            <h3>Chicago: {{date3}}  {{time3}}</h3>
            <h3>Los Angeles: {{date4}}  {{time4}}</h3>
        </div>
    </div>
</body>
</html>

